---
import ButtonPortafolio from '@components/ButtonPortafolio.astro';
import Slides from '@components/Slides';

const BUTTONS = [
	{
		slide: 7,
		text: 'Cobertura especial adicional'
	},
	{
		slide: 9,
		text: 'Beneficios adicionales'
	},
	{
		slide: 11,
		text: 'Gastos Administrativos'
	},
	{
		slide: 2,
		text: 'Ventajas del P.S.C'
	},
	{
		slide: 13,
		text: 'Cobertura planes'
	},
	{
		slide: 10,
		text: 'Nuestras sedes'
	}
];
const btnOne = BUTTONS.slice(0, 3);
const btnTwo = BUTTONS.slice(3);
---

<section
	id="headquartersSection"
	class="my-8 flex h-fit flex-col items-center justify-center pt-15 md:flex-row md:pt-0"
>
	<div
		class="z-20 hidden w-[5%] flex-col items-end justify-around bg-white md:flex md:w-[40%] md:bg-white/70"
		id="cartWhitePortafolioSection1"
	>
		<div class="flex flex-col items-end">
			{btnOne.map((i) => <ButtonPortafolio text={i.text} dataSlide={i.slide} />)}
		</div>
		<div class="flex flex-col items-end">
			{btnTwo.map((i) => <ButtonPortafolio text={i.text} dataSlide={i.slide} />)}
		</div>
	</div>
	<div class="flex w-[90%] items-center justify-center md:w-[42.5%]">
		<Slides client:load />
	</div>
	<section class="mt-12 flex w-[90%] gap-8 md:hidden" id="buttons-portafolio-mobile">
		<div class="flex flex-col items-end">
			{btnOne.map((i) => <ButtonPortafolio text={i.text} dataSlide={i.slide} />)}
		</div>
		<div class="flex flex-col items-end">
			{btnTwo.map((i) => <ButtonPortafolio text={i.text} dataSlide={i.slide} />)}
		</div>
	</section>
	<div
		class="z-20 hidden w-[5%] bg-white md:flex md:w-[40%] md:bg-white/70"
		id="cartWhitePortafolioSection2"
	>
	</div>
</section>

<script>
	function updateCartHeights() {
		const height = document.getElementById('carruselContainer')?.offsetHeight;
		const cartOne = document.getElementById('cartWhitePortafolioSection1');
		const cartTwo = document.getElementById('cartWhitePortafolioSection2');

		if (cartOne && cartTwo) {
			cartOne.style.height = `${height}px`;
			cartTwo.style.height = `${height}px`;
		}
	}

	window.addEventListener('load', updateCartHeights);
	window.addEventListener('resize', updateCartHeights);
	document.addEventListener('astro:page-load', updateCartHeights);
</script>
