---
import YouTubeLite from '@components/global/YouTubeLite.jsx';

const items = {
	text: [
		'La Reforma Laboral y las recientes disposiciones legales en Colombia han transformado de manera profunda la forma en que las empresas deben gestionar sus relaciones laborales. Hoy, más que nunca, los empresarios y dirigentes necesitan comprender no solo la norma, sino la manera práctica de implementarla en sus organizaciones para evitar sanciones, demandas y costos innecesarios.',
		'En este Diplomado de Actualización Empresarial: “Cómo Adaptar su Empresa a la Nueva Reforma Laboral”, usted conocerá de manera integral los cambios más relevantes que impactan directamente la gestión de talento humano y el cumplimiento normativo en su empresa'
	],

	title: 'Temario',
	temas: [
		'Cambios en la contratación laboral conforme a la Ley 2466 de 2025.',
		'Nuevos cambios en la jornada laboral, horas extras, recargos nocturnos, recargos en días de descanso obligatorio.',
		'Conozca la nueva implementación en los contratos de aprendizaje.',
		'Cómo aplicar el proceso disciplinario conforme a la reforma laboral.',
		'Aprenda la nueva estructura del reglamento interno de trabajo.',
		'Conozca la implementación de la política de acoso sexual de conformidad a la Ley 2365 de 2024.',
		'Implementación de la política de desconexión laboral.',
		'Implementación de las licencias remuneradas y nuevas licencias conforme a la Ley 2466 de 2025.',
		'Modalidades de contratación laboral no presencial (trabajo en casa, trabajo remoto y cambios en el teletrabajo).',
		'Tercerización laboral: evite multas y sanciones por no conocer su implementación.',
		'Conozca la implementación, seguimiento y obligatoriedad de los exámenes médicos ocupacionales a la luz de la Resolución No.1843 de 2025.',
		'Conozca cómo implementar y aplicar la política de protección de datos personales.',
		'Aplicación de terminación de contratos mediante transacción, mutuo acuerdo e incumplimiento: evite sanciones por evasión laboral.'
	],
	idVideo: 'Ff-XSC3z4Z0'
};

const length_array = items.temas.length / 2;

const firstCol = items.temas.slice(0, length_array);
const secondCol = items.temas.slice(length_array);
---

<div class="prose-lg md:prose-xl w-[90%] text-center md:w-[60%]">
	{items.text.map((i) => <p class="text-justify font-medium">{i}</p>)}
</div>

<h2 class="mt-8 text-4xl font-bold">{items.title}</h2>
<ul
	class="md:prose-lg mt-8 ml-[8%] flex w-[90%] list-outside list-disc justify-center gap-8 md:ml-0 md:w-[60%] md:gap-20"
>
	<div class="flex-col">{firstCol.map((i) => <li class="mb-8">{i}</li>)}</div>
	<div class="flex-col">{secondCol.map((i) => <li class="mb-8">{i}</li>)}</div>
</ul>
<div class="mt-8 flex h-1/2 w-[95%] flex-wrap pb-8 md:w-[60%]">
    <YouTubeLite videoid={items.idVideo} client:visible id={items.idVideo} />
</div>
