---
import YouTubeLite from '@components/global/YouTubeLite.jsx';
import FlipCart from '@sections/auditoriaYDiagnostico/components/FlipCart.astro';

const ITEMS = [
	{
		Title: 'Area laboral',
		Text: 'La auditoria para estudiar si la empresa cumple con todos los requisitos en materia de contratación y posterior desarrollo de la relación laboral con el trabajador.',
		Image: '/auditoriaYdiagnostico/2.webp',
		Boolean: true
	},
	{
		Title: 'Área corporativa',
		Text: 'La auditoría está diseñada para verificar que las empresas estén operando dentro de la ley: Esto de acuerdo a un control de inspección de los procedimientos internos de la compañía con el fin de monitorear el funcionamiento correcto de dichos procesos',
		Image: '/auditoriaYdiagnostico/3.webp',
		Boolean: false
	},
	{
		Title: 'Área civil y comercial',
		Text: 'La auditoría está diseñada para evaluar, regular e inspeccionar las relaciones en materia comercial y civil en cuanto a la contratación, la emisión y suscripción de títulos valores cumpliendo con el lleno de los requisitos legales en pro de blindar jurídicamente la compañía frente a terceros.',
		Image: '/auditoriaYdiagnostico/2.webp',
		Boolean: true
	}
];

const IMAGE = [
	{
		imgF: '/auditoriaYdiagnostico/fase1F.webp',
		imgB: '/auditoriaYdiagnostico/fase1B.webp'
	},
	{
		imgF: '/auditoriaYdiagnostico/fase2F.webp',
		imgB: '/auditoriaYdiagnostico/fase2B.webp'
	},
	{
		imgF: '/auditoriaYdiagnostico/fase3F.webp',
		imgB: '/auditoriaYdiagnostico/fase3B.webp'
	},
	{
		imgF: '/auditoriaYdiagnostico/fase4F.webp',
		imgB: '/auditoriaYdiagnostico/fase4B.webp'
	}
];
const IMAGE1 = IMAGE.slice(0, 2);
const IMAGE2 = IMAGE.slice(2);
---

<div class="flex h-fit w-full flex-col py-8 md:flex-row">
	<div class="flex h-fit w-full flex-col items-center justify-center md:w-[55%]">
		<h2 class="text-center text-3xl font-semibold text-blue-700 md:text-5xl">
			Auditoría y diagnóstico <br />legal corporativo
		</h2>
		<div class="w-[90%] text-justify md:w-[70%]">
			<p class="mt-10 text-sm font-medium md:text-xl">
				El diagnóstico legal consiste en realizar un dictamen específico del cumplimiento de las
				obligaciones legales, con el fin de identificar los posibles riesgos de orden corporativo,
				laboral, civil y comercial.
			</p><p class="mt-6 text-sm font-medium md:text-xl">
				Una solución para la finalidad principal es misma, brindar a las prevenir los riesgos
				futuros empresas sel herramientas para realizar de forma correcta los procedimientos legales
			</p>
		</div>
	</div>
	<div
		class="mt-8 ml-[5%] flex w-[90%] items-center justify-center md:mt-0 md:ml-0 md:w-[45%] md:pr-20"
	>
		<YouTubeLite videoid={'DOqmbLwwVFg'} id={'DOqmbLwwVFg'} client:load />
	</div>
</div>
<div class="flex w-full items-center justify-center">
	<a
		href="https://docs.google.com/forms/d/1wP80WLENZeLayP35lDl_9APkVCOF5xG_PhBS1IDlBJ4/viewform?edit_requested=true"
		rel="noopener noreferrer"
		target="_blank"
	>
		<img src="/auditoriaYdiagnostico/1.webp" alt="" class="" />
	</a>
</div>

<div>
	{
		ITEMS.map((i) => {
			const boolean = i.Boolean;
			return (
				<div
					class:list={[
						'flex h-fit w-full flex-col items-center justify-center py-8 md:flex-row',
						{ 'flex-col md:flex-row-reverse': boolean }
					]}
				>
					<div class="flex w-[90%] flex-col items-center justify-center md:w-[55%]">
						<h2 class="text-center text-3xl font-semibold text-blue-700 md:text-5xl">{i.Title}</h2>
						<div class="w-[90%] text-justify md:w-[75%]">
							<p class="mt-10 text-sm font-medium md:text-2xl">{i.Text}</p>
						</div>
					</div>
					<div
						class:list={[
							'mt-8 flex w-[90%] items-center justify-center md:mt-0 md:w-[45%]',
							{ 'md:pl-20': boolean === true },
							{ 'md:pr-20': boolean === false }
						]}
					>
						<img src={i.Image} alt="" class="w-full rounded-sm" />
					</div>
				</div>
			);
		})
	}
</div>
<div class="mt-4 flex flex-col items-center justify-center">
	<h2 class="mb-1 text-center text-3xl font-semibold text-blue-700 md:mb-10 md:text-5xl">
		Fases del diagnóstico y auditoría legal
	</h2>
	<div class="flex flex-col md:flex-row md:gap-8">
		{
			IMAGE1.map((i) => {
				return <FlipCart front={i.imgF} back={i.imgB} />;
			})
		}
	</div>
	<div class="mt-0 flex flex-col md:mt-10 md:flex-row md:gap-8">
		{
			IMAGE2.map((i) => {
				return <FlipCart front={i.imgF} back={i.imgB} />;
			})
		}
	</div>
</div>
